/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* core */
html {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
body {
    background: white;
    margin: 32px 0 0 0;
    padding:0px;
    text-align:center;
}
#site {
    background: white; /* url(webbg.png) repeat-y 0 0; */
    max-width: 70rem;
    margin: 0px auto 0px auto;
    padding: 75px 75px 0 75px;
    border-top-left-radius: 75px;
    text-align: left;
}
#logo {
    background: url(ch.png) no-repeat;
    float: left;
    width: 103px;
    height: 120px;
    margin-top: -47px;
    margin-left: -30px;
    margin-right: 17px;
}
#dds {
    font-size: 22pt;
    font-weight: normal;
    color: black;
}
#header {
    height: 100px;
}
#headertitle {
    float: left;
}
#headermenu {
    float: right;
}

a {
    color: #336699;
    text-decoration: underline;
}

b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
#title {
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.menu {
    margin-left: 22px;
    font-size: 1.2em;
}
.menu a {
    margin-left: 5px;
    margin-right: 5px;
}
#content {
    line-height: 1.4em;
}
footer {
    margin-top: 3em;
    border-top: 1px solid black;
    padding: 0.3em 0 3em 0;
    font-size: x-small;
}
h1 {
    font-weight: bold;
    font-size: 2.2em;
    line-height: 2.6em;
}
h2 {
    font-size: 1.8em;
    line-height: 2.0em;
}

ul {
    margin-top: 0.4em;
}
p, pre, ul {
    font-size: inherit;
    margin-bottom: 1rem;
    line-height: 1.7em;
    text-rendering: optimizeLegibility;
}
pre, code {
    font-family: "Inconsolata", "Courier New", monospace;
}

#blogindex {
}
.posts li span {
    font-family: "Inconsolata", "Courier New", monospace;
}

#post p, #post ul, #post ol {
    font-family: "Liberation Serif", Georgia, serif;
}

/* standard */

#post code, #post pre {
    background-color: #fff;
    line-height: 1.1em;
}

#post pre {
    margin-left: 2em;
}


#post ul, #post ol {
    margin-left: 1.35em;
}
#post ul {
    list-style-type: disc;
}


/* terminal */

#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}

#post pre.terminal code {
    background-color: #333;
}

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}


/* home */
.pf {
    min-height: 140px;
    margin-bottom: 2em;
    border-bottom: 1px solid #eee;
    padding-left: 250px;
}
.pf a {
    color: blue;
}
.pf h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.7em;
}
.pf .timeframe {
    color: #777;
    font-size: small;
}
.pfp {
    margin-left: 10px;
}

.pfecard { background: url(../assets/ecard.png) no-repeat 25px 0; }
.pfeasyname { background: url(../assets/easyname.png) no-repeat; }
.pfinqnet { background: url(../assets/inqnet.png) no-repeat; }
.pfiosgame { background: url(../assets/iosgame.png) no-repeat 65px 0; }
.pfhdlclog { background: url(../assets/hdlclog.png) no-repeat; }
.pfdebian { background: url(../assets/debian.png) no-repeat 80px 0; }
.pfpowerdns { background: url(../assets/powerdns.png) no-repeat 0px 0; }
.pfgrml { background: url(../assets/grml.png) no-repeat 65px 0; }
.pfmag { background: url(../assets/mag.png) no-repeat 45px 0; }
.pfhostingstack { background: url(../assets/hostingstack.png) no-repeat; }
.pfcanidepend { background: url(../assets/canidepend.png) no-repeat; }
.pfdeduktiva { background: url(../assets/deduktiva.png) no-repeat 0px 30px; }

@font-face {
    font-family: 'Inconsolata';
    src: local('Inconsolata'), url('/fonts/Inconsolata/Inconsolata-webfont.eot'), url('/fonts/Inconsolata/Inconsolata-webfont.woff');
    font-weight: 500;
    font-style: normal;
}

